<app-header>
    <h1>The bug <span>that changes everything</span></h1>
</app-header>
<main>
    <div class="content">
        <p>
            The bug that changes everything, it fully craches the encyclopedia. A software bug is an error, flaw or fault in the design, development, or operation of computer software that causes it to produce an incorrect or unexpected result, or to behave in unintended ways. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis tristique libero, a eleifend nibh ultrices sit amet. Integer venenatis dui id orci lacinia, non convallis ex consequat. Nulla congue rhoncus nunc eu feugiat. Sed erat magna, ullamcorper vel ante in, rhoncus porttitor elit. Suspendisse dictum ut lacus et suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam quis sapien a lorem rhoncus elementum. Praesent vestibulum pharetra sem et venenatis. Nulla facilisi. Mauris laoreet, odio in ullamcorper tincidunt, neque diam aliquam magna, non pharetra ante quam quis lectus. Cras et dui diam.
        </p>
        <p>
            Vestibulum ullamcorper, ipsum et varius porttitor, nibh magna vestibulum dui, vel convallis justo odio aliquet turpis. Duis ultrices rutrum nisl vitae blandit. Duis non molestie neque. Nunc aliquam lorem ipsum, vitae pellentesque lorem elementum consequat. Mauris ac urna ut nulla congue imperdiet. Ut sed lorem ut neque ullamcorper sodales vel non justo. Nullam ipsum felis, iaculis quis feugiat eget, ornare non quam. Nullam sodales dui a dui rhoncus, tincidunt consectetur libero hendrerit. Aliquam bibendum est ac turpis ultricies luctus. Curabitur ullamcorper lobortis tempus. Nunc sodales congue ipsum, id pulvinar massa aliquam ac. Fusce egestas erat vel justo volutpat tincidunt in ac libero. Sed faucibus suscipit volutpat. Donec id sodales urna.
        </p>
    </div>
    <div class="warning">
        <h3>We need your help!</h3>
        <div>
            <p>With the power of the community we can fix the bug!</p>
            <p>Team up with your friends in a team of 4. Join a lobby, ready up and do the tasks! Try your best to get on the top of the scoreboard. After every round your score will show up at the helpers site.</p>
            <h4>Jump to...</h4>
            <ul>
                <li><a [routerLink]="['helpers']">Helpers</a></li>
                <li><a [routerLink]="['lobby']" [queryParams]="{action: 'create'}">Create a lobby</a></li>
                <li><a [routerLink]="['lobby']" [queryParams]="{action: 'join'}">Join a lobby</a></li>
            </ul>
        </div>
        <h3>Help us, please!</h3>
    </div>
</main>
