:host {
    padding: 7rem 1.5rem 1.5rem 1.5rem;
}

main {
    div.content {
        p {
            font-size: 1.1875rem;
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
        margin-bottom: 0.5rem;
    }
    div.warning {
        padding: 1rem .75rem;
        background: radial-gradient(50% 50% at 50% 50%, #FFCC00 0%, #CEA500 100%);
        h3 {
            font-size: 1.5rem;
            font-weight: 500;
            text-align: center;
        }
        h4 {
            font-size: 1.5rem;
        }
        div {
            margin: 2.5rem 0;
            text-align: center;
            display: grid;
            gap: .25rem;
            p {
                font-size: 1.25rem;
                &:first-child {
                    font-size: 1rem;
                }
            }
            ul {
                list-style: none;
                li a {
                    color: black;
                    font-size: 1.65rem;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
